Repository kariya2/seven-wonders: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "apps/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.config.{js,ts}": ["prettier --write"]
}

fix: properly configure lint-staged to avoid linting config files
  .lintstagedrc.json
Due: prettier --write

fix: update husky pre-commit hook to remove deprecated lines
  .husky/pre-commit
Due: none

fix: resolve vitest ESM issues and update tests
  .gitignore
  .turbo/cache/45d1aaab4dd5aba3-meta.json
  .turbo/cache/45d1aaab4dd5aba3.tar.zst
  .turbo/cache/ee48f107bca1ce29-meta.json
  .turbo/cache/ee48f107bca1ce29.tar.zst
  apps/web/next-env.d.ts
  apps/web/package.json
  apps/web/src/app/__tests__/page.test.tsx
  apps/web/vitest.config.mjs
  package.json
  packages/core/tsconfig.tsbuildinfo
  packages/shared/tsconfig.tsbuildinfo
  pnpm-lock.yaml
  vitest.config.mjs
Due: eslint --fix, prettier --write

chore: remove build artifacts from git and update .gitignore
  .gitignore
  .turbo/cache/45d1aaab4dd5aba3-meta.json
  .turbo/cache/45d1aaab4dd5aba3.tar.zst
  .turbo/cache/ee48f107bca1ce29-meta.json
  .turbo/cache/ee48f107bca1ce29.tar.zst
  apps/web/next-env.d.ts
  packages/core/tsconfig.tsbuildinfo
  packages/shared/tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

fix: use correct pnpm version (9.14.4) in CI workflow
  .github/workflows/ci.yml
Due: prettier --write

Fix lint-staged ESLint configuration for v9
  .lintstagedrc.json
Due: prettier --write

Add TypeScript parser to ESLint configuration
  eslint.config.mjs
  packages/core/src/index.ts
Due: eslint --fix, prettier --write

Remove ESLint configuration workarounds
  .lintstagedrc.json
  eslint.config.js
  eslint.config.mjs
  packages/core/src/index.ts
Due: eslint --fix, prettier --write
